<div id="header">
    <h1>Bucephalus Studios</h1>
    <br/>
    <!-- Navbar -->
    <ul class="siteNav">
        <li class="siteNavItem">
            Home
        </li>
        <li class="siteNavItem">
            About
        </li>
        <li class="siteNavItem">
            Games
        </li>
        <li class="siteNavItem">
            Software
        </li>
        <li class="siteNavItem">
            Contact
        </li>
        <!--
        <div class="navbarItem">
            Shop
        </div>
        <div class="navbarItem">
            Donate
        </div>
        -->
    </ul>
</div>