<div id="header">
    <h1>Bucephalus Studios</h1>
    <br/>
    <!-- Navbar -->
    <nav class="row g-0">
        <div class="col-1">
            Home
        </div>
        <div class="col-1">
            About
        </div>
        <div class="col-1">
            Games
        </div>
        <div class="col-1">
            Software
        </div>
        <div class="col-1">
            Contact
        </div>
        <!--
        <div class="navbarItem">
            Shop
        </div>
        <div class="navbarItem">
            Donate
        </div>
        -->
    </nav>
</div>