#logoImage
{
    transition: 0.6s;
}

#logoImage:hover
{
    filter: drop-shadow(0 0 0.75rem #AA5500);
    transition: 0.6s;
}

.glowCrimsonOnHover
{
    background: #AA0000;
    transition: 0.6s;
}

.glowCrimsonOnHover:hover
{
    background: #AA0000;
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: 0.6s;
}


.glowCyanOnHover
{
    transition: 0.6s;
}


.glowCyanOnHover:hover
{
    filter: drop-shadow(0 0 0.75rem #0aa);
    transition: 0.6s;
}


.siteNav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555555;
}

.siteNavLeft
{
    font-family: Ubuntu Mono;
    font-size: 24px;
    float : left;
    display: inline;
    background: #555555;
    color : #c2c2c2;
}

.siteNavLeft a
{
    display: block;
    color: #c2c2c2;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    transition: 0.6s;
}

.siteNavLeft a:hover
{
    color : #ffffff;
    background-color: #ca6500;
    transition: 0.6s;
}


.siteNavRight
{
    font-family: Ubuntu Mono;
    font-size: 24px;
    float : right;
    display: inline;
}


.siteNavRight a
{
    display: block;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    transition: 0.6s;
}


.siteNavRight a:hover
{
    color : #ffffff;
    transition: 0.6s;
}


.subscribeButton
{
    height: 42px;
    border: 0px;
    border-radius: 5px;
    padding : 10px;
    font-size : 16px;
    font-weight : bold;
    color : #ffffff;
    background: linear-gradient(to right,  #FF5555, #AA0000);
    transition : 0.6s;
}


.subscribeButton:hover
{
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: 0.6s;
}


.kofiButton
{
    height: 42px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight : bold;
    color: #ffffff;
    background: linear-gradient(to right, #00AAAA, #13c3ff );
    transition: 0.6s;
}


.kofiButton:hover
{
    filter: drop-shadow(0 0 0 0.65rem cyan);
    transition: 0.6s;
}


.linktreeLink a
{
    background-color: #00AAAA;
}


.linktreeLink a:hover
{
    background-color: turquoise;
}


#itchBadge
{
    transition : 0.6s;
}


#itchBadge:hover
{
    box-shadow: 0 0 30px crimson;
    transition: 0.6s;
}


.consoleYellow
{
    color : #ffff55;
}


.consoleOrange
{
    color : #AA5500;
}


.consoleCyan
{
    color : #00AAAA;
}


.consoleMagenta
{
    color :  #AA00AA;
}


.consoleRed
{
    color : #AA0000;
}

.gameCardRow
{
    margin-top : 40px;
}

.gameCard
{
    border-radius : 5px;
    background: #555555;
}

.gameCardContent
{
    width : 100%;
    padding : 14px;
}


.softwareDiv
{
    margin-top: 20px;
    margin-bottom: 20px;
}


body
{
    font-family: Ubuntu Mono;
    font-size: 18px;
    background-color: #191413;
    color: #c2c2c2;
}


#footer
{
    background: #555555;
    color : #c2c2c2;
    padding : 30px;
    margin-top : 45px;
}