#logoImage
{
}

#logoImage:hover
{
    filter: drop-shadow(0 0 0.75rem #AA5500);
    transition: 0.6s;
}

.glowCrimsonOnHover
{
}

.glowCrimsonOnHover:hover
{
    filter: drop-shadow(0 0 0.75rem crimson);
    transition: 0.6s;
}


.glowTurqoiseOnHover
{
}


.glowTurqoiseOnHover:hover
{
    filter: drop-shadow(0 0 0.75rem turquoise);
    transition: 0.6s;
}


.siteNav
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555555;
}

.siteNavLeft
{
    font-family: Ubuntu Mono;
    font-size: large;
    float : left;
    display: inline;
    background: #555555;
    color : #c2c2c2;
}

.siteNavLeft a
{
    display: block;
    color: #c2c2c2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.6s;
}

.siteNavLeft a:hover
{
    color : #ffffff;
    background-color: #ca6500;
    transition: 0.6s;
}


.siteNavRight
{
    font-family: Ubuntu Mono;
    font-size: large;
    float : right;
    display: inline;
    background: #555555;
    color : #c2c2c2;
}

.subscribeButton
{
    border: 0px;
    border-radius: 5px;
    padding : 10px;
    color : #ffffff;
    background-color: #a00;
    transition : 0.6s;
}


.linktreeButton
{
    border: 0px;
    border-radius: 5px;
    padding : 10px;
    color : #ffffff;
    background-color: #00AAAA;
    transition : 0.6s;
}


#itchBadge img
{
    transition : 0.6s;
}


#itchBadge img:hover
{
    box-shadow: 0 0 8px rgba(255,0,0, 0.6);
    transition: 0.6s;
}


.consoleYellow
{
    color : #ffff55;
}


.consoleOrange
{
    color : #AA5500;
}


.consoleCyan
{
    color : #00AAAA;
}


.consoleMagenta
{
    color :  #AA00AA;
}


.consoleRed
{
    color : #AA0000;
}

.gameCardRow
{
    margin-top : 40px;
}

.gameCard
{
    border-radius : 5px;
    background: #555555;
}

.gameCardContent
{
    width : 90%;
    padding-top : 10px;
    padding-bottom : 10px;
}


.softwareDiv
{
    margin-top: 20px;
    margin-bottom: 20px;
}


body
{
    font-family: Ubuntu Mono;
    font-size: large;
    background-color: #191413;
    color: #c2c2c2;
}


#footer
{
    background: #555555;
    color : #c2c2c2;
    padding : 30px;
    margin-top : 45px;
}